# .env files
.env
.venv


# virtual environment files
**/.venv/*

# log files
*.log

# output files
output/*

# pycache files
__pycache__/*
*.pyc

# zip files
*.zip


# temp files
**/clean_build/*

# lambda_layers
script/lambda_layers/*

# dbt files
profiles.yml
